
@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(Roboto-LightItalic.ttf);
}
body{
    
    background-color: #eae7dc;
    font-family: roboto; /* Assuming you've defined Roboto font */
}


/* .header{
    width: 100%;
    padding: 20px 0 20px 20px;
    text-align: left;
    margin: 0;
    
} */
.header{
    display: flex;
    
    align-items:center;

    
}

.header-name{
    font-family: roboto;
    font-size: 1em;
}

.profile-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
}
.profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
.about-me-text{
    display: flex;
    /* margin-left: 20px; */
    font-family:roboto-light;
    color: #8e8d8a;
    font-size: 1em;
    

}
.about-me h5{
    font-weight: bold;
    color: #E98074;
    margin-left: 20px;
    

}
.line{
    margin: 20px;
    width: 95%;
    height: 1px;
    background-color:#8e8d8a;
}
.border-box{
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding:10px;
    display: inline-block;

    
}

