@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(Roboto-LightItalic.ttf);
}
body {
  background-color: #f4f1de;
  font-family: roboto; /* Assuming you've defined Roboto font */
}
.aboutContainer {
  display: flex;
  padding: auto;
  background-color: #3d405b;
  height: 600px;
  align-items: center;
  margin: 5px;
  border-color: #81b29a;
  border-radius: 4%;
  border: 10px solid #81b29a;
}
.profilePicture img {
  height: 300px;
  width: 350px;
  background-color: rebeccapurple;
  align-items: center;
  margin-left: 50px;
  border: 2px solid #f4f1de;
}
.socialIcons img {
  height: 30px;
  width: 30px;
  border: none;
}
.aboutText {
  height: 250;
  width: 250;
  padding-left: 50px;
}
.aboutText p {
  margin-left: 100px;
  max-width: 800px;
}
#welcoming-txt {
  font-size: x-large;
}
.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Light font weight */
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Regular font weight */
  font-style: normal;
}
.custom-font-size {
  font-size: 2em; /* Change the font size as needed */
  color: #e07a5f;
}
.custom-font-size1 {
  font-size: 1em; /* Change the font size as needed */
  color: #f4f1de;
}
.custom-font-simple {
  font-size: 1em;
  color: #000;
}
.line-txt-heigth {
  line-height: 25px;
}
#button-link {
  /* margin: 20px; */
  padding: 20px;
  height: 20px; /* Set height same as the icon */
  width: auto; /* Let the width adjust to the content */
  border: none; /* Remove border */
  background-color: #81b29a; /* Remove background color */
  display: inline-flex; /* Use inline-flex to allow button to shrink-wrap the content */
  align-items: center; /* Align content vertically */
  border-radius: 10px;
}
#button-link img {
  margin-left: 20px;
}
.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#project-hdr {
  font-size: 2em;
  /* background-color: #3d405b; */
  border-bottom: 5px solid #81b29a;
  height: 150px;

  margin-left: 36%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: #3d405b;
}
.next-btn {
  height: 40px;
  width: 100px;
  background-color: #81b29a;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
 .project-container {
 display: flex;
 /* background-color: #81b29a; */
}
.projectImageContainer {
  display: flex;
/* background-color: #e07a5f; */
flex: 1;
justify-content: center;
align-items: center;
flex-direction: column;
max-width: 500px;
} 

.project-detail-container{
  flex: 1;
  padding: 20px;
}
.navigation-buttons{
  margin-top: 0px;
}


ul {
  margin-top: 2;
  margin-bottom: 0;
}
.test{
  display: flex;
  background-color: #81b29a;
  margin-bottom: 20px;
}

hr{
  /* width: 25%; */
  /* margin-left: 50px; */
}

.project-container:nth-child(2) .exp-img img {
  /* Your specific styles for images in the second project container */
  height:100px; /* Adjust the height as needed */
  width: 100px; /* Make the image width 100% of its container */
  max-width: 400px; /* Limit the maximum width of the image */
}
.project-container:nth-child(2) .exp-img img {
  /* Your specific styles for the images in the second project */
  width: 5px; /* Adjust the width as needed */

}